       
        body{
            margin:0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
            height:100%;
            background-color:#3D087B;
        }
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap:1.5rem ;
        }
        .main-container{
            height: 27rem;
            width:30rem;
            position: relative;
            margin-left: 10rem;
            margin-top: 3.0rem;
        }
        .container{
            background-image: url(clock.img);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        
        .main-container1{
            height: 27rem;
            width:30rem;
            position: relative;
            margin-top: 2rem;
        }
        #lunch{
            padding:1rem;
            font-size: 2rem;
            font-weight: bolder;
            color:#9140B5;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #textt{
            border-radius:10px;
           margin:0 0 0 0;
            box-sizing:border-box;
            position: absolute;
            background-color:white;
            background-position: top;
            background-image: url(balloon.img);
            background-repeat: no-repeat;
            background-size: cover;
            width:100%;
            height:100%;
            
        }
        
       
       
        .div1{
            border-radius: 0.5rem;
        }
        #sun{
          background-image: url(sun.img);
          width:20%;
          height:100%;
          background-repeat: no-repeat;
          text-align: center;
          margin-top: .19rem;
          display: inline-block;
        }
        .wake{
            width: 80%;
            height: 100%;
            display: inline-block;
            padding: 10px;
            margin-top: 0px;
            
        }
        #wakeUpTimeselector{
            width: 190px;
            height: 35px;
            border-radius: 3px;
        }
        #lb1{
            width:28rem;
            height: 7.5rem;
            position: absolute;
            top:1rem;
            margin: auto;
            opacity: 0.71;
            z-index: -1;
            border-radius: 10px;
            background-color:white;
           
        }
        #lb2{
            width:25rem;
            height: 8rem;
            position: absolute;
            top:1.5rem;
            margin: auto;
            opacity: 0.25;
            z-index: -2;
            border-radius: 10px;
            background-color:#9140B5;
            right:1rem;
        }
        #dclock{
            width: 15%;
            height: 80%;
            float: left;
            color: grey;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
        #dclock1{
            width: 15%;
            height: 100%;
            float: left;
            color:violet;
            align-items: center;
            font-size: 18px;
            text-align: center;
            background-image: url(timeline.img);
            border-radius: 2px;
        }
        
        #dclock2{
            width: 10%;
            height: 80%;
            margin-top: 20px;
            float: left;
            color:black;
            align-items: center;
            font-size: 35px;
            text-align: center;
        }
        #dclock3{
            width: 15%;
            height: 100%;
            float: left;
            color:violet;
            align-items: center;
            font-size: 18px;
            text-align: center;
            background-image: url(timeline.img);
            border-radius: 2px;
        }
        #dclock4{
            width: 10%;
            height: 80%;
            margin-top: 20px;
            float: left;
            color:black;
            align-items: center;
            font-size: 35px;
            text-align: center;
        }
        #dclock5{
            width: 15%;
            height: 100%;
            float: left;
            color:violet;
            align-items: center;
            font-size: 18px;
            text-align: center;
            background-image: url(timeline.img);
            border-radius: 2px;
        }
        #dclock6{
            width: 15%;
            height: 100%;
            float: left;
            margin-left: 15px;
            border-radius: 2px;
            color:violet;
            align-items: center;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            background-image: url(violet.img);
        }
        #choppedspoon{
            background-image: url(lunch-time.img);
            background-repeat: no-repeat;
            text-align: center;
            margin-top: .19rem;
            width: 20%;
            height: 100%;
            display: inline-block;
        }
        .chopped{
            width: 80%;
            height: 100%;
            display: inline-block;
            padding: 10px;
            margin-top: 0px;
        }
        #wakeUpTimeselector1{
            width: 190px;
            height: 35px;
            border-radius: 3px;
        }
        #nap{
            background-image: url(nap-time.img);
            background-repeat: no-repeat;
            text-align: center;
            margin-top: .19rem;
            width: 20%;
            height: 100%;
            display: inline-block;
        }
        .naptime{
            width: 80%;
            height: 100%;
            display: inline-block;
            padding: 10px;
            margin-top: 0px;
        }
        #wakeUpTimeselector2{
            width: 190px;
            height: 35px;
            border-radius: 3px;
        }
        #night{
            
            background-repeat: no-repeat;
            text-align: center;
            margin-top:.10rem;
            width: 15%;
            height: 100%;
            display: inline-block;
            position: absolute;
            left:0px;
            color:#3D087B;
            
        }
        .nighttime{
            width: 80%;
            height: 100%;
            display: inline-block;
            padding: 10px;
            margin-top: 0px;
            margin-left:80px;
        }
        #wakeUpTimeselector3{
            width: 190px;
            height: 35px;
            border-radius: 3px;
        }
        #button:hover{
            font-size:0;
        }
        #button:hover:after{
            content: attr(data-hover);
            font-size: 15px;
            font-weight: bold;
        }
        



        @media(max-width:998px){
            html{
                font-size: 55%;
            }
        }
        @media(max-width:768px){
            html{
                font-size: 45%;
            }  
        }




